* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: #007BFF;
    --bg-green: #28A745;
    --bg-orange: #FFC107;
    --bg-red: #DC3545;
    --bg-pink: #FF69B4;
    --bg-purple: #76058d;


    --shad-blue: rgba(0, 123, 255, 0.7);
    --shad-green: rgba(40, 167, 70, 0.7);
    --shad-orange: rgba(255, 193, 7, 0.7);
    --shad-red: rgba(220, 53, 69, 0.7);
    --shad-pink: rgba(255, 105, 180, 0.7);
    --shad-purple: rgba(118, 5, 141, 0.7);


    --bg-card: #ebebeb;
    --bg-card-secundary: #e7e3e3;

    --color-main: #2d3436;
    --color-main-secundary: #f0eeee;
    --color-muted: #636e72;

    --border-color-white: #dfe6e9;
    --border-color-black: #2d3436;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--bg-card-secundary);
    border-radius: 4px;
    background-color: var(--bg-purple);
    color: var(--color-main-secundary);
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}

.cards_grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 1rem;
    height: fit-content;
    width: 100%;
    overflow-y: auto;
}

.card_os {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    overflow: hidden;
    gap: .5rem;

    .header_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 12px;
        height: 100%;
        width: 100px;
        padding: 0.5rem;
        border: 1px solid var(--border-color-black);
        border-radius: 20px 0 0 20px;

        font-weight: 700;

        background-color: var(--bg-card-secundary);
        color: var(--color-main);

        span {
            height: fit-content;
            width: fit-content;
        }

        .badge {
            padding: 0.3rem 0.5rem;
            border-radius: 4px;
            font-size: 0.75rem;
            font-weight: 600;
            border-radius: 25px;
        }
    }

    .item_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 1px solid var(--border-color-black);
        /* border-radius: 10px; */
        background-color: var(--bg-card);

        .item_container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow: hidden;
            height: 100%;
            width: 100%;


            .item_container_header {
                display: flex;
                flex-direction: column;
                font-size: large;
                font-weight: 600;
                color: var(--color-main);
                border-bottom: 1px solid var(--border-color-black);
            }

            .item_container_body {
                display: flex;
                height: 100%;

                overflow-y: auto;
                overflow-x: hidden;

                flex-direction: column;
                font-weight: 400;
                color: var(--color-muted);

                text-wrap: nowrap;
                overflow-x: auto;

            }
        }
    }


    .item_container_actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--border-color-black);
        border-radius: 0 20px 20px 0;
        background-color: var(--bg-card-secundary);
        color: var(--color-main);

        height: 100%;

        button {
            border-radius: 15px;
            height: 45px;
            aspect-ratio: 1;
        }
    }
}

.bg_blue {
    background-color: var(--bg-blue);
    border: 1px solid var(--shad-blue);
    color: white;
}
